nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px;
  background-color: #007BFF;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007BFF;
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
  gap: 20px; /* Add space between the projects */
}

.project {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-img {
  width: 100%;
  max-width: 200px;
  margin: 5px;
  border-radius: 8px;
}

